
@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Client/Scripts/ownersAndPets.js"></script>
    <script src="~/Client/Scripts/allOwnersController.js"></script>  
    <script src="~/Client/Scripts/ownerDetailsController.js"></script>
    <script src="~/Client/Scripts/ownersService.js"></script>
    <script src="~/Client/Scripts/petsService.js"></script> }

<div data-ng-app="ownersAndPets">

    <ng-view></ng-view>
    
</div>
